---
- name: Download SQL Server 2022
  ansible.builtin.include_tasks:
    file: download_file.yml
  vars:
    scom_file_name: SQLServer2022-x64-ENU.iso
    scom_url: "{{ scom_sql2022_url }}"

- name: Mount SQL ISO
  community.windows.win_disk_image:
    image_path: "{{ scom_host_path }}\\SQLServer2022-x64-ENU.iso"
    state: present
  register: disk_image_out

- name: Setup SQL Server - This will take a while
  ansible.windows.win_shell: |
    {{ disk_image_out.mount_paths[0] }}setup.exe  /Q /IAcceptSQLServerLicenseTerms /ACTION="install" /FEATURES=SQLENGINE,FULLTEXT /INSTANCENAME=MSSQLSERVER /AGTSVCACCOUNT='{{ domain_netbios_name }}\{{ scom_sql_account }}' /AGTSVCPASSWORD='{{ scom_sql_password }}' /AGTSVCSTARTUPTYPE=Automatic /SQLSVCACCOUNT='{{ domain_netbios_name }}\{{ scom_sql_account }}' /SQLSVCPASSWORD='{{ scom_sql_password }}' /SQLSYSADMINACCOUNTS='{{ domain_netbios_name }}\{{ domain_admin }}' /SQLMINMEMORY="1024" /SQLMAXMEMORY="16384" /SQLSVCINSTANTFILEINIT=True
  vars:
    ansible_become: true
    ansible_become_method: runas
    ansible_become_user: '{{ domain_fqdn }}\{{ domain_admin }}'
    ansible_become_password: '{{ domain_admin_password }}'
    ansible_become_flags: "logon_type=interactive logon_flags=with_profile"
  args:
    creates: "C:\\Program Files\\Microsoft SQL Server\\MSSQL16.MSSQLSERVER\\MSSQL\\Binn\\sqlservr.exe"
  register: install_sql
  failed_when: >
    install_sql.rc != 0 and
    "One or more affected files have operations pending" not in install_sql.stdout
  changed_when: >
    install_sql.rc == 0 or
    "One or more affected files have operations pending" in install_sql.stdout

- name: Reboot if SQL Server installation requires it
  ansible.windows.win_reboot:
  when: 
    - install_sql is defined
    - install_sql.stdout is defined
    - "'One or more affected files have operations pending' in install_sql.stdout"

- name: Unmount ISO
  community.windows.win_disk_image:
    image_path: "{{ scom_host_path }}\\SQLServer2022-x64-ENU.iso"
    state: absent

- name: Download SSMS
  ansible.builtin.include_tasks:
    file: download_file.yml
  vars:
    scom_file_name: SSMS-Setup-ENU.exe
    scom_url: "{{ scom_ssms_url }}"

- name: Install SSMS 
  ansible.windows.win_shell: |
    {{ scom_host_path }}\SSMS-Setup-ENU.exe /Quiet
  vars:
    ansible_become: true
    ansible_become_method: runas
    ansible_become_user: '{{ domain_fqdn }}\{{ domain_admin }}'
    ansible_become_password: '{{ domain_admin_password }}'
    ansible_become_flags: "logon_type=interactive logon_flags=with_profile"
  args:
    creates: "C:\\Program Files (x86)\\Microsoft SQL Server Management Studio 20\\Common7\\IDE\\Ssms.exe"
  register: install_ssms

- name: Reboot the server if SQL/SSMS were installed
  ansible.windows.win_reboot:
  when: 
    - install_sql.changed
    - install_ssms.changed

