---
- name: Download SCOM Setup if Needed
  ansible.builtin.include_tasks:
    file: download_file.yml
  vars:
    scom_file_name: SCOM_2022.exe
    scom_url: "{{ scom_2022_url }}"

- name: Extract SCOM Setup Files if Needed
  ansible.windows.win_shell: |
    {{ scom_host_path }}\SCOM_2022.exe /Silent
  vars:
    ansible_become: true
    ansible_become_method: runas
    ansible_become_user: '{{ domain_fqdn }}\{{ domain_admin }}'
    ansible_become_password: '{{ domain_admin_password }}'
    ansible_become_flags: "logon_type=interactive logon_flags=with_profile"
  args:
    creates: "C:\\System Center Operations Manager 2022\\Setup.exe"

- name: Check if SQL Server Already Installed
  ansible.builtin.win_stat:
    path: "C:\\Program Files\\Microsoft SQL Server\\MSSQL16.MSSQLSERVER\\MSSQL\\Binn\\sqlservr.exe"
  register: sql_server_check

- name: Install SQL if not Already Installed
  ansible.builtin.include_tasks:
    file: config_sql.yml
  when: not sql_server_check.stat.exists

- name: Install SSRS
  ansible.builtin.include_tasks:
    file: install_ssrs.yml
  
- name: Configure SSRS
  ansible.builtin.include_tasks:
    file: configure_ssrs.yml

- name: Install OMReporting
  ansible.windows.win_shell: |
    $netbiosName = $env:COMPUTERNAME
    Start-Process -FilePath "C:\System Center Operations Manager 2022\Setup.exe" -ArgumentList @(
      "/silent",
      "/install",
      "/components:OMReporting",
      "/ManagementServer:{{ scom_management_server }}",
      "/SRSInstance:${netbiosName}\SSRS",
      "/DataReaderUser:{{ domain_netbios_name }}\{{ scom_reader_account }}",
      "/DataReaderPassword:{{ scom_reader_password }}",
      "/SendODRReports:{{ scom_omreporting_send_odr_reports }}"
      "/UseMicrosoftUpdate:{{ scom_omreporting_use_microsoft_update }}",
      "/AcceptEndUserLicenseAgreement:1"
    ) -NoNewWindow -Wait
  vars:
    ansible_become: true
    ansible_become_method: runas
    ansible_become_user: '{{ domain_fqdn }}\{{ domain_admin }}'
    ansible_become_password: '{{ domain_admin_password }}'
    ansible_become_flags: "logon_type=interactive logon_flags=with_profile"
  args:
    creates: "C:\\Program Files\\Microsoft System Center\\Operations Manager\\Reporting\\OperationalDataReporting.exe.config"