---
- name: Download SCOM Setup if Needed
  ansible.builtin.include_tasks:
    file: download_file.yml
  vars:
    scom_file_name: SCOM_2022.exe
    scom_url: "{{ scom_2022_url }}"

- name: Extract SCOM Setup Files if Needed
  ansible.windows.win_shell: |
    {{ scom_host_path }}\SCOM_2022.exe /Silent
  vars:
    ansible_become: true
    ansible_become_method: runas
    ansible_become_user: '{{ domain_fqdn }}\{{ domain_admin }}'
    ansible_become_password: '{{ domain_admin_password }}'
    ansible_become_flags: "logon_type=interactive logon_flags=with_profile"
  args:
    creates: "C:\\System Center Operations Manager 2022\\Setup.exe"

- name: Install OMConsole
  ansible.windows.win_shell: |
    Start-Process -FilePath "C:\System Center Operations Manager 2022\Setup.exe" -ArgumentList @(
      "/silent",
      "/install",
      "/components:OMConsole",
      "/EnableErrorReporting:{{ scom_omconsole_enable_error_reporting }}",
      "/SendCEIPReports:{{ scom_omconsole_send_ceip_reports }}",
      "/UseMicrosoftUpdate:{{ scom_omconsole_use_microsoft_update }}",
      "/AcceptEndUserLicenseAgreement:1"
    ) -NoNewWindow -Wait
  vars:
    ansible_become: true
    ansible_become_method: runas
    ansible_become_user: '{{ domain_fqdn }}\{{ domain_admin }}'
    ansible_become_password: '{{ domain_admin_password }}'
    ansible_become_flags: "logon_type=interactive logon_flags=with_profile"
  args:
    creates: "C:\\Program Files\\Microsoft System Center\\Operations Manager\\Console\\Microsoft.EnterpriseManagement.Monitoring.Console.exe"