- name: Install Active Directory
  ansible.windows.win_feature: >
       name=AD-Domain-Services
       include_management_tools=yes
       include_sub_features=yes
       state=present

- name: Create Domain
  microsoft.ad.domain: 
    dns_domain_name: "{{ domain_fqdn }}"
    safe_mode_password: "{{ domain_admin_password }}"
    domain_netbios_name: "{{ domain_netbios_name }}"
    reboot: true
  register: domain_install

- name: Reboot host if install requires it
  ansible.windows.win_reboot:
  when: domain_install.reboot_required

- name: Create DA user
  microsoft.ad.user:
    identity: "{{ domain_admin_username }}"
    firstname: "{{ domain_admin_username }}"
    password: "{{ domain_admin_password }}"
    groups:
      set:
        - Domain Admins
        - Domain Users
    state: present